*{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
body{
    background:black;
    color:white;
} 
 #header{
    width: 100%;
    height: 100vh;
    background-image: url(images/1520172617325.jpg); 
    background-size: cover;
    background-position: center; 
 }  
.nav{
    width:100%;
    height: 60px;
    line-height: 50px;

}
 nav{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    justify-content:flex-end;
    width: 10%; 
    align-content: flex-end;
    
} 
.start
{
    justify-content: flex-start;
} 
 nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 10px;

}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:black;
    position:absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
} 
.header-text{
    top:50px;
    margin: 20%;
    font-size: 30px;
    display: block;
}
.header-text h2{
    top:50px;
    font-size: 40px;
    margin: 20px;
}
.header-text h2 span{
    color:violet;
}
/* ----------------ABOUT--------- */
#about{
    padding: 80px 0;
    color: #aababa;

}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col1{
    flex-basis: 35%;
    height: 50%;
    margin-left: 10px;
}
.about-col1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: white;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background:red;
    position:absolute;
    left: 0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
   width: 60%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
   color:beige;
   font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.info{
    font-weight: 600;
}
.link{
    text-decoration: none;
    font-size: medium;
    font-weight: 700;

}
.link:hover{
    background-color: #ff004f;
    border-radius: 2px;
}
/* ================================== */

.achievement-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:60px;
    margin-top: 50px;
    
}
.achievement-list ul li{
    font-size: medium;
    font-weight: 400;
}
.achievement-list div{
    background: #262622;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 15px;
    transition: background 0.5s, transfrom 0.5s;
}
.achievement-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.achievement-list div:hover{
    background: #ff004f;
    transform:translateY(-30px);
}
/* --------------------------------------------------------portfolio */
/* .services{
    padding: 30px 0;
}
.service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.service-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 3px;
    transition: background 0.5s, transform 0.5s;
}
.service-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.service-list div p{
    font-size: medium;
    font-weight: 600;
}
.service-list div h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.service-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);

} */
#portfolio{
    padding: 50px 0;
}

#worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px;
}
.work{
   border-radius: 10px;
   position: relative;
   overflow: hidden;
}
.work img{
    width :100%;
    border-radius: 10px;
    display: block;
}

/* .layer{
    width: 100%;
    height:100%;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    left:0;
    bottom:0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
} */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    padding: 7px;
    color: #aababa;
    margin-right: 15px;
    transition:transform 0.5s;
}
.social-icons a:hover{
    color:#ff004f;
    transform: translateY(-10px);
}
.btn{
   display: block;
   margin:0;
   width: fit-content;
   border: 1px solid #ff004f;
   padding: 14px 50px;
   border-radius: 6px;
   text-decoration: none;
   background-color: #ff004f;
   transition: background 0.5s;
   cursor: pointer;
}
.btn:hover{
    background: white;
}
.contact-right form{
    width:100%;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:60px;
}
form input,form textarea{
    width:100%;
    border:0;
    outline:none;
    background:skyblue;
    padding: 10px;
    margin: 10px 0;
    color:black;
    font-size: 15px;
    border-radius: 20px;
}
form btn{
   padding: 14px 60px;
   font-size: 18px;
   margin-top: 20px;
   cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 250;
    margin-top: 20px;
}
.copyright i{
    color: blue;
}


/* =====================smallscreen */
@media(max-width:320px)
{
    .fix{ 
        position: fixed;
        left :0;
        width:100%;
        height:100vh;
        background-color: rgba(red, green, blue, alpha);
        text-align: center;
        padding: 0;
        top:50px;
        padding: 0;
    }
    .nav ul li a{
        display: block;
        width:100%;
        margin:0;
    }
}
